* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  /* background-color: skyblue; */
  background-image: url("flower.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 60dvh;
  transform: translate(45%, 40%);
  box-shadow: 10px 10px 5px white, 20px 20px 10px white, -10px -10px 5px white,
    -20px -20px 10px white;
}

.left {
  background-color: pink;
  width: 32%;
  height: 85%;
  margin-right: 2%;
}

.right {
  /* background-color: red; */
  width: 50%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#r1,
#r2,
#r3 {
  width: 100%;
  height: 32%;
  background-color: pink;
}

#profile-photo {
  display: block;
  width: 36%;
  height: 25%;
  border-radius: 50%;
  margin-top: 8px;
  margin-left: 32%;
}

#name,
#about,
.card-heading {
  font-weight: bold;
  text-align: center;
  margin: 10px;
  color: brown;
}
#about {
  margin-bottom: 2px;
  margin-top: 10px;
}
#social-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin-left: 30%;
  font-size: 16px;
  cursor: pointer;
}
li {
  list-style: none;
  padding: 3px 5px;
  box-shadow: 2px 2px 1px goldenrod, -2px -2px 2px goldenrod;
  border-radius: 6px;
}
li i {
  color: goldenrod;
}

#about-text,
.Card-text {
  font-size: 14px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  color: gray;
}

#r1 i {
  color: green;
  margin-right: 6px;
}

.address {
  color: maroon;
  margin-top: 8px;
}

#phone-number {
  color: maroon;
  margin-top: 5px;
}

#add-icon {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

/* laptop */
@media (max-width: 1339px) {
  #profile-photo {
    width: 40%;
    height: 20%;
    margin-top: 5px;
    margin-left: 30%;
  }

  #name,
  #about,
  .card-heading {
    margin: 7px;
    font-size: 14px;
  }
  #about {
    margin-bottom: 1.8px;
    margin-top: 7px;
  }
  #social-icon {
    width: 46%;
    margin-left: 27%;
    font-size: 12px;
  }

  #about-text,
  .Card-text {
    font-size: 12px;
    padding-left: 9px;
    padding-right: 9px;
  }

  #r1 i {
    margin-right: 5px;
  }

  .address {
    margin-top: 5px;
  }

  #phone-number {
    margin-top: 4px;
  }

  #add-icon {
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
  }
}

/* Tablet */
@media (max-width: 1023px) {
  #profile-photo {
    width: 40%;
    height: 17%;
    margin-top: 4px;
    margin-left: 30%;
  }

  #name,
  #about,
  .card-heading {
    margin: 7px;
    font-size: 11px;
  }
  #about {
    margin-bottom: 2px;
    margin-top: 6px;
  }
  #social-icon {
    width: 58%;
    margin-left: 21%;
    font-size: 11px;
  }

  #about-text,
  .Card-text {
    font-size: 10px;
    padding-left: 7px;
    padding-right: 7px;
  }

  #r1 i {
    margin-right: 3px;
  }

  .address {
    margin-top: 4px;
    font-size: 10px;
  }

  #phone-number {
    margin-top: 3px;
    font-size: 10px;
  }

  #add-icon {
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
  }
}

/* mobile Large */
@media (max-width: 767px) {
  .main {
    width: 85%;
    height: 90dvh;
    transform: translate(10%, 7%);
  }

  .left {
    width: 42%;
    height: 95%;
    margin-right: 2%;
  }

  .right {
    width: 50%;
    height: 95%;
  }

  #r1,
  #r2,
  #r3 {
    height: 32.7%;
  }

  #profile-photo {
    width: 60%;
    height: 17%;
    margin-top: 4px;
    margin-left: 20%;
  }

  #name,
  #about,
  .card-heading {
    font-size: 16px;
  }
  #about {
    margin-bottom: 4px;
    margin-top: 8px;
  }
  #social-icon {
    width: 70%;
    margin-left: 15%;
    font-size: 16px;
  }

  #about-text,
  .Card-text {
    font-size: 14px;
    padding-left: 6px;
    padding-right: 6px;
  }

  #r1 i {
    font-size: 14px;
  }

  .address {
    margin-top: 5px;
    font-size: 14px;
  }

  #phone-number {
    margin-top: 4px;
    font-size: 14px;
  }

  #add-icon {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
  }
}

/* mobile medium */

@media (max-width: 424px) {
  #profile-photo {
    height: 14%;
  }
  #social-icon {
    width: 80%;
    margin-left: 10%;
  }
  #about-text,
  .Card-text {
    font-size: 13px;
    padding-left: 6px;
    padding-right: 6px;
  }
  #r1 i {
    font-size: 13px;
  }

  .address {
    font-size: 13px;
  }

  #phone-number {
    font-size: 13px;
  }
}
/*mobile small*/

@media (max-width: 374px) {
  #profile-photo {
    height: 12%;
  }
  #social-icon {
    width: 90%;
    margin-left: 5%;
  }
  #about-text,
  .Card-text {
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
  }
  #r1 i {
    font-size: 12px;
  }

  .address {
    font-size: 12px;
  }

  #phone-number {
    font-size: 12px;
  }
}
